* {
  margin: 0;
  padding: 0;

  /* Font */
  font-family: "Montserrat", sans-serif;

  /* Error */
  --error-primary: #d90429;
  --error-secondary: #e56932;
  --error-tertiary: #e6842d;
  --error-quaternary: #f39541;
  --error-quinary: #f49c4d;

  /* Warning */
  --warning-primary: #fdb832;
  --warning-secondary: #fdd032;
  --warning-tertiary: #fcf13b;
  --warning-quaternary: #dafc3b;
  --warning-quinary: #c9ff7b;

  /* Valid */
  --valid-primary: #00d71a;
  --valid-secondary: #00e772;
  --valid-tertiary: #00d784;
  --valid-quaternary: #45e3a6;
  --valid-quinary: #94f1ce;

  /* Black */
  --black-primary: #2b2d42;
  --black-secondary: #232541;
  --black-tertiary: #15183a;
  --black-quaternary: #060930;
  --black-quinary: #000000;

  /* Grey */
  --grey-primary: #8d99ae;
  --grey-secondary: #7f8ca2;
  --grey-tertiary: #6d788c;
  --grey-quaternary: #4c5667;
  --grey-quinary: #343b46;

  /* White */
  --white-primary: #edf2f4;
  --white-secondary: #d9e3e7;
  --white-tertiary: #b7c2c6;
  --white-quaternary: #a3a4a5;
  --white-quinary: #767676;

  /* Main */
  --main-primary: #015fff;
  --main-secondary: #0054e6;
  --main-tertiary: #0046bf;
  --main-quaternary: #002f80;
  --main-quinary: #001740;
}

/*
 *
 * --------
 *  NAVBAR
 * --------
 *
*/

.navbar-container {
  z-index: 999;
  background-color: var(--white-primary);
  height: 100px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-link-container {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.navbar-link {
  margin: 0;
  padding: 10px;
  font-size: 40px;
  text-decoration: none;
  color: var(--black-quinary);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 5px;
  border-image-source: linear-gradient(to top,
      var(--white-primary),
      var(--grey-quaternary),
      var(--white-primary));
  border-image-slice: 5;
}

.navbar-logo {
  max-width: 80%;
  max-height: 80%;
}

/*
 *
 * --------
 *  HEADER
 * --------
 *
*/

header {
  position: relative;
  margin-top: 140px;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

#title-header {
  background-color: var(--main-quaternary);
  z-index: 10;
}

#omelia-header {
  color: #f1f1f1;
  padding: 100px 0;
  font-size: 100px;
}

/*
 *
 * ---------
 *  CONTENT
 * ---------
 *
*/

.page-container {
  width: 70%;
  margin: 0 auto;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 100px 0;
}

.presentation-container {
  margin: 100px 0 0;
}

.text-presentation {
  width: 90%;
  font-size: 22px;
  margin: 5px auto;
  text-align: center;
  color: var(--black-primary);

}

.text-section {
  display: flex;
  flex-direction: column;
  max-width: 48%;
}

.text-section h2 {
  font-size: 30px;
}

.text-section h2 {
  color: var(--main-quinary);
  font-size: 30px;
  margin: 5px 0;
}

.text-section p {
  width: 90%;
  font-size: 17px;
  margin: 5px 0;
  text-align: justify;
  color: var(--black-primary);
}

.text-section p br {
  margin-bottom: 3px;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48%;
}

.image-section img {
  width: 70%;
  margin: 0 auto;
}

strong {
  color: var(--main-quaternary);
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px 0;
}

li {
  font-size: 17px;
  padding-left: 20px;
}

/*
 *
 * ---------
 *  FOOTER
 * ---------
 *
*/

footer {
  background-color: var(--white-primary);
  padding: 20px 0;
}

#footer-contact {
  display: flex;
}

#footer-leftblock {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

#footer-rightblock {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  border-left: 2px solid transparent;
  border-image-source: linear-gradient(to top,
      var(--white-primary),
      var(--grey-quaternary),
      var(--grey-quaternary),
      var(--white-primary),
      var(--white-primary));
  border-image-slice: 5;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-quinary);
  padding: 20px 0;
}

.footer-text {
  color: var(--grey-quaternary);
}

#contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#contact-value {
  background-color: transparent;
  color: var(--black-quinary);
  border-radius: 10px;
  padding: 10px;
  resize: none;
  width: 90%;
  height: 70px;
  font-size: 14px;
}

#contact-send {
  margin-top: 10px;
  background-color: var(--grey-quaternary);
  color: var(--white-primary);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
}

#footer-rightblock a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 10px 0;
}

#footer-rightblock img {
  width: 30px;
  padding-right: 20px;
}

#footer-rightblock span {
  font-size: 16px;
  text-decoration: none;
  color: var(--black-quinary);
}

.footer-certification {
  padding: 50px 0 20px;
  color: var(--black-quinary);
  font-size: 14px;
}

/*
 *
 * ---------
 *  SMALL SIZE
 * ---------
 *
*/

@media screen and (max-width: 1100px) {

  .page-container,
  .navbar {
    width: 90%;
  }

  #omelia-header {
    font-size: 75px;
  }

  #footer-leftblock,
  #footer-rightblock {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-link {
    font-size: 15px;
    padding: 10px 50px;
  }

  #omelia-header {
    font-size: 30px;
  }
  
  .section-container {
    flex-direction: column;
    margin: 100px 0;
  }

  .text-section, .text-section p {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  #footer-contact {
    flex-direction: column;
  }

  #footer-leftblock,
  #footer-rightblock {
    width: 80%;
    border: none;
  }
}