* {
    margin: 0;
    padding: 0;

    /* Error */
    --error-primary: #D90429;
    --error-secondary: #E56932;
    --error-tertiary: #E6842D;
    --error-quaternary: #F39541;
    --error-quinary: #F49C4D;

    /* Warning */
    --warning-primary: #FDB832;
    --warning-secondary: #FDD032;
    --warning-tertiary: #FCF13B;
    --warning-quaternary: #DAFC3B;
    --warning-quinary: #C9FF7B;

    /* Valid */
    --valid-primary: #00D71A;
    --valid-secondary: #00E772;
    --valid-tertiary: #00D784;
    --valid-quaternary: #45E3A6;
    --valid-quinary: #94F1CE;

    /* Black */
    --black-primary: #2B2D42;
    --black-secondary: #232541;
    --black-tertiary: #15183A;
    --black-quaternary: #060930;
    --black-quinary: #000000;

    /* Grey */
    --grey-primary: #8D99AE;
    --grey-secondary: #7F8CA2;
    --grey-tertiary: #6D788C;
    --grey-quaternary: #4C5667;
    --grey-quinary: #343B46;

    /* White */
    --white-primary: #EDF2F4;
    --white-secondary: #D9E3E7;
    --white-tertiary: #B7C2C6;
    --white-quaternary: #A3A4A5;
    --white-quinary: #767676;

    /* Main */
    --main-primary: #015FFF;
    --main-secondary: #0054E6;
    --main-tertiary: #0046BF;
    --main-quaternary: #002F80;
    --main-quinary: #001740;
}

/* 
 *
 * --------
 *  NAVBAR
 * --------
 *
*/

.navbar-container {
    background-color: var(--white-primary);
    height: 100px;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-link-container {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.navbar-link {
    margin: 0;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    color: var(--black-quinary);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 5px;
    border-image-source: linear-gradient(to top, var(--white-primary), var(--grey-quaternary), var(--white-primary)); 
    border-image-slice: 5;
}


.navbar-logo {
    max-width: 80%;
    max-height: 80%;
}


/* 
 *
 * --------
 *  HEADER
 * --------
 *
*/

header {
    margin-top: 140px;
    width: 100%;
    height: 500px;
}