.navbar {
    width : 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(var(--dark-color-rgb), 0.1);
    padding: 0.5rem 0;
}

.home_button {
    composes: button from '@styles/modules/components.module.css';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    left: 2.5rem;
    top: 0;
    height: 100%;

}

.home_button img {
    width: fit-content;
    height: 1rem;
    margin-right: 0.5rem;
}

.home_button p {
    text-align: center;
    font-size: 0.5rem;
    padding-top: 2px;
    margin: 0;
    font-family: var( --primary-font-family);
}

.table_container {
    margin-top: 10vh;
    padding: 0 10%;
}

/* --------------Modal-------------- */
.modal {
    width: fit-content;
}

.data_container{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.status_container label{
    margin-right: 1rem;

}

.modal_button {
    margin-top: 1rem !important;
}
