.feedbacks {
    
    width: 100%;
    min-height: 100vh;
    background-color: var(--light-color);
    padding: 0 10vw;

}

.header {
    padding-top: 25vh;

    display : flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 1.25rem;
    font-family: var(--primary-font-family);
    color: var(--dark-color);

    margin-bottom: 0.75rem;
}

.input_container {
    width: fit-content;
}

.search {
    width: 100%;
    position: relative;

    
    border-bottom: 2px solid var(--dark-color);
    padding: 0 0 0.25rem 0.25rem;
}

.logo {
    height: auto;
    width: 0.75rem ;
    position: absolute;
}

.input {
    width: 100%;

    
    padding-left: 1rem;
    
    font-family: roboto;
    font-size: 0.75rem ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {

    font-size: 0.75rem;
}

.feedbacks_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    gap: 1rem;


}
