.forget_password {
    max-width: 100%;
    min-height: 100vh;
    
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;

    background-color: var(--light-color);
    border-radius: 15px;

    box-shadow: 20px 20px 0px rgba(25, 24, 71, 0.1);
    padding: 1.25rem 1.75rem;
    margin-top: 5vmin;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
}

.header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: var(--primary-font-family);
    
}

.body {
    width: 40ch;

    text-align: center;

    font-size: 0.75rem;
    font-weight: roboto;
    margin-bottom: 1rem;
    font-family: var(--primary-font-family);
}

.input {
    margin-bottom: 1rem;
    width: 100%;

}

.button {
    font-size: 0.75rem;
    width: 100% !important;
    
}

.already_account {
    cursor: pointer;
    align-self: center;
    font-size: 0.75rem;
    font-family: roboto;
    opacity: 0.5;
    text-decoration: underline;
    margin-top: 0.5rem;
}
