.monitoring {
    width: 100%;
    min-height: 100vh;
    background-color: var(--light-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        

}

.title {
    margin-bottom: 2rem;

    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: var(--primary-font-family);
    color: var(--dark-color);
}

.container_table {
    display: flex;
    overflow-x: auto;

    
    width: 80%;
}

.table {
    font-family: var(--secondary-font-family);
    color: var(--dark-color);
    width: 100%;


    font-size: 0.5rem;

    border-collapse: collapse;
}

.table th {
    padding: 0.5rem 1rem;
    text-align: left;
}

.table thead {
    background-color: var(--primary-color);
    font-family: var(--primary-font-family);
    color: var(--light-color);

}

.table tbody tr:hover {
    background-color: rgba(var(--primary-color-rgb), 0.2);
    cursor: pointer;
}

.table td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;

    padding: 1rem 1rem;
}

.table tbody tr {
    border-bottom: 0.5px solid var(--dark-color);
}


.delete {
    color: var(--danger-color);
    text-decoration: underline;
    cursor: pointer;
}


/* MODAL */

.modal_title{
    font-family: var(--primary-font-family);
    color: var(--dark-color);
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.modal_body{
    font-family: var(--secondary-font-family);
    color: var(--dark-color);
    font-size: 1rem;
    margin-bottom: 2rem;

}

.modal_info_container{
    font-family: var(--secondary-font-family);
    font-size: 0.75rem;

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width : 769px) {
    .modal_title {
        text-align: center;
    }
    .modal_body {
        text-align: center;

    }
}