.profil {
    width: 100%;
    min-height: 100vh;
    background-color: var(--light-color);

}

.profil{

}

.title{

}

.feedback{

}

.feedback_title{

}

.feedback_empty{

}

.general_info{

}

.general_info_title{

}

.profil_info_container{

}

.email{

}

.name{

}

.surname{

}

.change_password{

}

.actions{

}
