.profil {
    border-radius: 15px;
    width: 75%;
    background-color: var(--light-color);

    padding: 3rem 1rem;

    margin: 6rem auto 2rem auto;

    box-shadow: 5px 5px 0px 2.5px rgba(var(--dark-color-rgb), 0.45);
    -webkit-box-shadow: 5px 5px 0px 2.5px rgba(var(--dark-color-rgb), 0.45);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 3rem;
    text-decoration: underline;
    font-family: var(--primary-font-family);
}


.feedback_container{

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    margin-bottom: 3rem;
}

.section_title{
    font-size: 1.5rem;
    color: var(--dark-color);
    margin-bottom: 1rem;
    text-align: center;
    font-family: var(--primary-font-family);
}


.feedback {
    border: 3px solid var(--dark-color);
    border-radius: 15px;
    padding: 1rem;

    width: 95%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;

    min-width: 0;
}

.feedback:hover {
    box-shadow: 5px 5px 0px 0 rgba(var(--dark-color-rgb), 0.2);
    cursor: pointer;
}

.feedback:active {
    box-shadow: 3px 3px 0px 0 rgba(var(--dark-color-rgb), 0.2);
}

.hover_delete_button {
    border: 3px solid var(--danger-color) !important;
}

.hover_delete_button:hover {
    box-shadow: 5px 5px 0px 0 rgba(var(--danger-color-rgb), 0.2) !important;
}

.hover_delete_button:active {
    box-shadow: 3px 3px 0px 0 rgba(var(--danger-color-rgb), 0.2) !important;
}


.feedback_body_container {
    min-width: 0;
    width: 100%;
}

.feedback_body_container h1 {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
    
    font-weight: bold;
    color: var(--dark-color);
    margin-bottom: 0.75rem;
    font-family: var(--primary-font-family);
}

.feedback_body_container p {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;

    font-weight: 400;
    color: var(--dark-color);
    font-family: var(--primary-font-family);
}

.feedback_delete {
    flex-grow: 1;    
    color: var(--danger-color);
    font-family: var(--secondary-font-family);
    text-decoration: underline;
    cursor: pointer;

}

.feedback_empty{
    border: 3px solid var(--dark-color);
    border-radius: 15px;
    padding: 1rem;

    font-family: var(--secondary-font-family);

    display: flex;
    align-items: center;
    
}



.data_container
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.general_info {
    margin-bottom: 3rem;

}


/*  ------------MODAL---------------------------- */


.info_container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}



.header {
    font-family: var(--primary-font-family);
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}

.header h2 {
    font-weight: bold;
    font-size: 1.25rem;

    margin-bottom: 0.5rem;

}

.header p {

    font-size: 0.75rem;
}

.header ul {
    font-family: var(--secondary-font-family);
    font-size: 0.75rem;
    font-weight: lighter;
    padding-left: 5%;
}

.header ul {
    list-style: none; 
}

.header ul li::before {
    content: "\2022";  
    color: var(--dark-color);; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

.form_modal_change_password > div {
    margin-bottom: 0.75rem;
}

.password_button{
    width: 100% !important;
    margin-top: 0.25rem;
    font-size: 0.75rem;
    align-self: flex-end;
}
/*  ---------------------------------------- */

.info label {

    font-size: 0.8rem;
    opacity: 0.25;

    color: var(--dark-color);
    font-family: var(--secondary-font-family);
}

.info div{
    border-bottom: solid 3px var(--dark-color);
    padding: 0.5rem 0.75rem;
    margin-top: 0.3rem;

    background-color: rgba(var(--dark-color-rgb), 0.02);

    font-family: var(--secondary-font-family);
    font-size: 1rem;
}


.actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

/* MODAL */
.modal_title{
    font-family: var(--primary-font-family);
    color: var(--dark-color);
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.modal_body{
    font-family: var(--secondary-font-family);
    color: var(--dark-color);
    font-size: 1rem;
    margin-bottom: 2rem;

}

.modal_info_container{
    font-family: var(--secondary-font-family);
    font-size: 0.75rem;

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width : 850px) {

    .profil {
        width: 90%;
    }
    .modal_title {
        text-align: center;
    }
    .modal_body {
        text-align: center;
    }

    .sub_container {
        display: flex;
        flex-direction: column;
    }

    .feedback_body_container {
        margin-right: 0;
        width: 100%;
        margin-bottom: 0.5rem;
    }


}
