
.application {
    position: relative;
    z-index: var(--foreground);
    margin-top: 10vh;
    padding-bottom: 5%;

}
    

.template {
    color: var(--dark-color);
    font-family: comfortaa;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    padding-bottom: 25%;

}

.text_container {
    width: 80%;
    margin-bottom: 5%;

    text-align: center;
}

.text_container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3%;

}

.text_container p,
.text_container div {
    font-size: 1.25rem;
    margin: auto;
    width: 90%;   
}


.model {
    box-shadow: 0px 7px 36px 7px #00000033;
    border-radius: 10vw;

    position: relative;
    width: 45%;
}

.model img {
    width: 100%;
}


.bullet_point
{
    list-style: none;
    margin-top: 3%;

}

.bullet_point li::before  {
    content: "-";
    margin-right: 2%;
}


.bullet_point * {
    margin-bottom: 1%;
}

.reverse > .model .counter {
    left: -14%;
}


@media screen and (min-width: 1024px) {

    .template {
        flex-direction: row;

        align-items: center;
        margin: 0 auto;
        padding: 5% 0;
        width: 80%;
    }

    .template div:first-child {
        margin-right: 15%;
    }

    .model {
        width: 20%;
        margin: 0;
    }
    
    .text_container {

        width: 45%;
        margin: 0;

        text-align: left;
    }

    .text_container h1 {
        white-space: nowrap;
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .text_container p,
    .text_container div {

        margin: 5% 0 0 0 ;
        width: 100%;   
    }
    
    .bullet_point
    {
        margin-left: 10%;
        list-style: disc;
    }

    .bullet_point li::before  {
        display: none;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .reverse div:first-child {
        margin-left: 15%;
        margin-right: 0;
    }



}
