
.card {
    position: relative;

    background-color: var(--light-color);
    border-radius: 15px;

    box-shadow: 20px 20px 0px rgba(25, 24, 71, 0.1);
    padding: 1.75rem;

    display: flex;
    flex-direction: column;
    color: var(--dark-color);
}


.validation {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

.form_input { 
    margin-bottom: 1rem;
}

.card_header {
    font-family: comfortaa;

    font-weight: bold;
    font-size: 1.25rem;

    align-self: center;
    margin-bottom: 1rem;
}

.forgot_password {
    composes: button from '../modules/components.module.css';    

    font-family: roboto;
    font-size: 0.6rem;

    margin-top: 0.75rem;
    align-self: flex-end;
}

.already_account{
    cursor: pointer;
    align-self: center;
    font-size: 0.75rem;
    font-family: roboto;
    opacity: 0.5;
    text-decoration: underline;
    margin-top: 0.25rem;
}

.visual {
    position: absolute;
    height: 3rem;
    width: auto;

    top: -1.6rem;
    left: -0.3rem;
}