.button {
    composes: button from '../modules/components.module.css';    

    text-align: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;

    padding: 0.5rem 1rem;


    font-family: var(--primary-font-family);
}

/* Attribute primary and secondary */
.button[data-type="primary"] {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.button[data-type="secondary"] {
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.button[data-type="tertiary"] {
    color: var(--dark-color);
    text-decoration: underline;
    opacity: 0.5;
}

.button:hover[data-type="primary"],
.button:hover[data-type="secondary"] {
    box-shadow: 5px 5px 0px 0 rgba(var(--primary-color-rgb), 0.2);
}

.button:active[data-type="primary"],
.button:active[data-type="secondary"] {
    box-shadow: 3px 3px 0px 0 rgba(var(--primary-color-rgb), 0.2);
}

.button:hover[data-type="tertiary"]{
    opacity: 1;
}