.button {
    cursor: pointer;
    width: fit-content;
    height: fit-content;

    padding: 0.65rem 1rem;

    border-radius: 15px;
    font-size: 0.75rem ;

    font-family: Comfortaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Attribute primary and secondary */
.button[data-type="primary"] {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.button[data-type="secondary"] {
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}