.footer {

    background-color: var(--primary-color);
    padding: 0.5em 2.5%;
    gap: 2rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    color: var(--light-color);
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 1rem;
}

.download {
    display: flex;
    gap : 1rem;
}

.cta {

}

.download_container {
 
    
}