.hpbeta {
    position: relative;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
}


.welcome_container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: var(--color-dark);
}

.text {

    color: var(--light-color);

    font-family: "Roboto";

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 5vmax;
}

.text h1 {
    text-shadow: 0px 0px 15px #03030e44;

    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.text p {
    text-shadow: 0px 0px 15px #03030e60;

    font-size: 1rem;
}


.button_cta {
    padding : 0.75rem 0.75rem;
    font-size: 0.75rem;
}