
.hp_home {
    position: relative;
    z-index: var(--foreground);
    
    direction:rtl;

    font-family: var(--primary-font-family);
    padding-top: calc(18vh + 1rem) ;

    width: 100%;
    min-height: -webkit-fill-available;
    height: 90vh;

}

.container_cta {
    direction: ltr;
}

.text_cta  {
    font-size: 2rem; 
    text-align: center;
}

.button_cta {
    z-index: var(--foreground);
    margin: 1.2rem auto 8% auto ;
    
    font-size: 0.75rem;
    padding: 0.75rem 1.25rem;
    font-weight: bold;
}

.people {
    z-index: var(--background);

    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 10%;
    margin-left: auto; 
    margin-right: auto; 


    width:  max(500px, 50vmax);
}

.people img {
    max-width: 100%;

    height: auto;
    max-height: 30vh;
}

@media screen and (min-width: 768px) {
    .hp_home {
        padding-top: calc(20vh + 1rem) ;
        height: 100vh;
    }
    
}


@media screen and (min-width: 1024px) {

    .container_cta {
        position: absolute ;

        display: flex;
        flex-direction: column;
        justify-content: left;
        top: 25vh;
        left: 15vw;
    }
   
    .text_cta {
        text-align: left;
    }

    .button_cta {
        margin-left: 0px;
    }

    .people {
        width: 55vmax;
        right: 6vw;
        bottom: 15%;
        margin: 0;
    }

    .people img {
        max-height: 48vh;
    }

} 