.title {
    font-family: var(--primary-font-family);
    margin-bottom: 5vh;
    text-align: center;

    font-weight: bold;
    font-size: 1.25rem;
}

.body {
    font-family: var(--secondary-font-family);

    font-size: 0.9rem;
}

.button {
    cursor: pointer;
}


@media screen and (max-width : 1024px) {
    .modal {
        width: 85vw;
    }
}