.navbar {
    width: 100%;

    z-index: var(--floating);
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 6vh 4vw;
    
    font-family: roboto;
    font-size: 1rem;
    color : var(--dark-color);

    transition: padding 400ms ease-in-out,
                background-color 400ms ease;
}

.scrolled_navbar {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    
    padding: 2vh 4vh;
    background-color: var(--light-color);
}

.close {
    composes : close button from "./components.module.css"; 

    right: 10%;
    top: 5%;
}

.title {
    composes : button from "./components.module.css"; 

    height: 1.5rem;

}

.title img {
    color: var(--dark-color);
    height: 100%;
}


.menu_container {
    transition: right 400ms ease-out; 

    position: absolute;
    right: -70%;
    top: 0;

    width: fit-content;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20vh 5% 0 5%;

    border-radius: 15px 0px 0px 15px; 

    background-color: var(--light-color);
}

.pull_left {
    right: 0 !important;
    -webkit-box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.3); 
    box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.3);
    transition: right 800ms ease-out; 
}

.title_side_menu {
    font-size: 1.5rem;
    margin-bottom: 10vh;
    font-weight: bold;
    font-family: var(--primary-font-family);
}


.option {
    composes : button from "./components.module.css";
    margin-bottom: 5vh;
    display: block;
}

.hamburger {
    composes : button from "./components.module.css"; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger span{
    display: block;
    
    border-radius: 15px;

    width: 40px;
    height: 5px;
    
    background-color: var(--dark-color);
}

.hamburger span:nth-child(2n) {
    margin: 7px 0;
}

@media (min-width: 1024px) {
  
    .navbar {
        width: 100%;
    
        z-index: var(--floating);
        position: fixed;
        display: flex;
        justify-content: space-between;
        
        font-family: roboto;
        font-size: 1rem;
        color : var(--dark-color);
    }

    .title {
        font-size: 1rem;
    }

    .menu_container {
        position: unset;
        height: unset;
    
        padding: 0;
        border-radius: 0px; 

        background-color: transparent;
    }

    .option_container {
        width: fit-content;
    }

    .option {
        margin-bottom: 0;
        font-size: 0.8rem;
        display: inline;
    }
    
    .option_container > *:not(:last-child) {
        padding-right: 2vw;
    }

    .pull_left {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    
    }
    
    .close {
        display: none;
    }
    
    .title_side_menu {
        display: none;
    }
    
    
    .hamburger {
        display: none;
    }
}