.price {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh ;
}

.card {
    border-radius: 15px;
    position: relative;
    z-index: var(--foreground);

    width: 75vmin;

    margin-bottom: 15%;

    font-family: var(--primary-font-family);
    background-color: var(--light-color);
    /* cartoon box shadoa */
    box-shadow: 0.75rem 0.75rem 0 0 rgba( var(--primary-color-rgb), 0.25);
}


.title {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem 0 0.5rem 0;

    font-size: 1.75rem;
}

.price_text {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    color: var(--primary-color);
    font-weight: bold;
}

.options_container {
    margin: 0 0 0 15%;

}

.option {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.option span {
    display: inline;
}

.image {
    
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--validation-color);
    margin-right: 2vw;
}

.not_included {
    opacity: 0.5;
    text-decoration: line-through;
}

.button {
    display: flex;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;

    margin: 6vmin auto;
}

.card[data-emphasized=true] .button {
    margin: 8vmin auto;
}


@media screen and (min-width: 1024px) {
    .price {
        flex-direction: row;
        justify-content: center;
    }
    
    .card {
        width: 30vw;
        margin-bottom: 0;
    }

    .card:first-child {
        margin-right: 5vw;
    }
    
    .title {
        font-size: 1.25rem;
        height: 15vh;
        margin: 0;
    }
    
    .price_text {
        display: block;
        margin-left: 15%;
        font-size: 1rem;
    }
    
    .options_container {
        margin: 0 0 0 15%;
    }

    .option {
        font-size: 0.75rem;
    }
    
    
    .button {
        display: flex;
        font-size: 0.75rem;

        padding: 0.75rem 1rem;
    
        margin: 5vmin auto;
    }
    
    .card[data-emphasized=true] .button {
        font-size: 1rem;
        margin: 6vmin auto;
    }

}