.price {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh ;
}

.card {
    border-radius: 15px;
    position: relative;
    z-index: var(--foreground);

    width: calc(65vw + 5vh);

    margin-bottom: 15%;

    font-family: var(--primary-font-family);
    background-color: var(--light-color);
    /* cartoon box shadoa */
    box-shadow: 0.75rem 0.75rem 0 0 rgba( var(--primary-color-rgb), 0.25);
}


.title {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;
    font-size: 1.75rem;
}

.price_text {
    margin-left: 15%;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

.options_container {
    margin: 0 0 0 15%;

}

.option {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.option span {
    display: inline;
}

.image {
    
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--validation-color);
    margin-right: 2vw;
}


.button {
    composes : button from "./components.module.css"; 

    display: flex;
    justify-content: center;
    align-items: center;

    height: 12vh;
    margin: 5% 0;


    color : var(--primary-color);
    font-size: 1.2rem;

}

.button p {
    padding: 1rem 2rem;
    border-radius: 15px;
}

.not_included {
    opacity: 0.5;
    text-decoration: line-through;
}


.card[data-emphasized=true] .button {
    height: 15vh;
}

.card[data-emphasized=true] .button p {
    color: var(--light-color);
    background-color: var(--primary-color);
}


@media screen and (min-width: 1024px) {
    .price {
        flex-direction: row;
        justify-content: center;
    }
    
    .card {
        width: 30vw;
        margin-bottom: 0;
    }

    .card:first-child {
        margin-right: 5vw;
    }
    
    .title {
        font-size: 1.25rem;
        height: 15vh;
    }
    
    .price_text {
        margin-left: 15%;
        font-size: 1rem;
        margin-bottom: 3vh;

    }
    
    .options_container {
        margin: 0 0 0 15%;
    }

    .option {
        font-size: 0.75rem;
    }
    
    
    .button {
        height: 20vh;
        font-size: 1rem;
        margin: 0;

    }
    
    .button p {
        padding: 0.75rem 1.5rem;

    }
    
    
    .card[data-emphasized=true] .button {
        height: 25vh;
    }

}