.close {
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    height: 33px;
    width: 2px;
    content: ' ';
    background-color: var(--dark-color);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.button {
    cursor: pointer;
}