
@media (min-width: 1201px) { 
  html {
    font-size: calc(24px + 0.2vw);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) { 
  html {
    font-size: calc(24px + 0.25vh) ;
  }
}

@media (min-width: 769px) and (max-width: 1024px) { 
  html {
    font-size: calc(22px + 0.25vh) ;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 768px) { 
  html {
    font-size: calc(20px + 0.25vh) ;
  }
 
}

/* Landscape phone to portrait tablet */
@media (max-width: 480px) { 
  html {
    font-size: 16px ;
  }
}

/* RESET */

html {
  color: var(--dark-color);
  scroll-behavior: smooth;
}

*, h1, h2 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2 {font-size:100%;font-weight:normal;}


textarea, input {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  outline: none;
  font-family: comfortaa  ;
  resize: none;
}

/* CSS VARIABLES */

:root {
  --primary-color : #B6C9FF;
  --dark-color : #191847;
  --light-color : #FEFEFE;
  --validation-color : #BCFFB6;
  --floating : 1;
  --foreground : 0;
  --background : -1;
}

/* OTHER */

body {
  background-color: var(--primary-color);
}

.emphasized-light {
  color : var(--light-color)
}

.emphasized-primary {
  color : var(--primary-color);
  font-weight : bold;
}

.separator {
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0px;
  z-index: var(--background);
}
