
/* CSS VARIABLES */

:root {
  
  --primary-color : #3666F5;
  --secondary-color : #F7ECE4;
  --dark-color : #07061F;
  --light-color : #FEFEFE;
  --validation-color : #BCFFB6;
  --error-color : #ffb6b6;
  --loading-color : #feffb6;
  --floating : 10;
  --foreground : 0;
  --background : -1;
  --primary-font-family : 'Comfortaa';
  --secondary-font-family : 'Roboto';
  --danger-color : #f33a3a;
  
  /* here convertion of hex to rgb */
  --primary-color-rgb : 54, 102, 245;
  --dark-color-rgb : 7, 6, 31;
  --light-color-rgb : 254, 254, 254;
  --validation-color-rgb : 188, 255, 182;
  --error-color-rgb : 255, 182, 182;
  --loading-color-rgb : 254, 255, 182;
  --danger-color-rgb : 243, 58, 58;
  
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8c868d #f0f0f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;

}

*::-webkit-scrollbar-thumb {
  background-color: #8c868d;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

/* MEDIA QUERY*/

@media (min-width: 1201px) { 
  html {
    font-size: calc(24px + 0.2vmax);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) { 
  html {
    font-size: calc(24px + 0.25vmax) ;
  }
}

@media (min-width: 769px) and (max-width: 1024px) { 
  html {
    font-size: calc(22px + 0.25vmax) ;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 768px) { 
  html {
    font-size: calc(20px + 0.25vmax) ;
  }
 
}

/* Landscape phone to portrait tablet */
@media (max-width: 480px) { 
  html {
    font-size: 16px ;
  }
}

/* RESET */

html {
  color: var(--dark-color);
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

*, h1, h2 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2 {font-size:100%;font-weight:normal;}


textarea, input {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  outline: none;
  font-family: var(--primary-font-family)  ;
  resize: none;
}

/* OTHER */

body {
  color: var(--dark-color);
  background-color: var(--secondary-color);
}

.emphasized-light {
  color : var(--light-color)
}

.emphasized-primary {
  color : var(--primary-color);
  font-weight : bold;
}

.separator {
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0px;
  z-index: var(--background);
}


/* ANIMATION */

.slide-left {
  -webkit-animation: slide-left 800ms both;
          animation: slide-left 800ms both;
}

.slide-right {
  -webkit-animation: slide-right 800ms both;
          animation: slide-right 800ms both;
}

.Toastify__toast-container {
  width: fit-content !important;
}

.Toastify__toast {
  white-space: nowrap;
  width: fit-content;
}

.Toastify__toast-icon {
  align-self: flex-start;
}
.Toastify__close-button {
  display: flex;
  padding-left: 0.25rem !important;
}



/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
