.modal_background {
    display: flex;
    justify-content: center;
    align-items: center;


    position: fixed;
    width: 100vw;
    height: 100vh;
    
    background-color: var(--black-color);
    background:rgba(0, 0, 0, 0.45);

    top: 0;
    z-index: 10;
}


.modal {
    
    padding: 2% 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;


    border-radius: 5px;
    background-color: var(--light-color);

    width: 65vw;
    height: 35vw;

    font-family: comfortaa;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    font-size: 2.2vw;

}

.body {
    font-size: 1.9vw;
}

.actions {
    font-size: 1.9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}