.modal_background {
    display: flex;
    justify-content: center;
    align-items: center;


    position: fixed;
    width: 100vw;
    height: 100vh;
    
    background-color: var(--dark-color);
    background:rgba(0, 0, 0, 0.45);

    top: 0;
    z-index: var(--floating);
}


.modal {
    
    padding: 5% 5%;

    border-radius: 5px;
    background-color: var(--light-color);

    width: 80vw;

    font-family: comfortaa;
}

.title {
    margin-bottom: 5vh;
    text-align: center;

    font-weight: bold;
    font-size: 1.25rem;
}

.body {
    margin: 0  auto 8vh auto ;
    font-size: 0.9rem;
}

.actions {
    font-size: 0.9rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    cursor: pointer;
}