.navbar {
    width: 100%;

    z-index: var(--floating);
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 8vh 8vw;
    
    font-family: roboto;
    font-size: 1rem;
    color : var(--dark-color);

    transition: padding 400ms ease-in-out,
                background-color 400ms ease;
}

.scrolled_navbar {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    
    padding: 3vh 4vh;
    background-color: var(--light-color);
}

.close {
    composes : close button from "./components.module.css"; 

    right: 20%;
    top: 8%;
}


.title {
    composes : button from "./components.module.css"; 

    font-size: 1.5rem;
}

.menu_container {
    transition: right 400ms ease-out; 


    position: absolute;
    right: -70%;
    top: 0;

    width: 70%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 25vh;

    border-radius: 15px 0px 0px 15px; 

    background-color: var(--light-color);
}

.pull_left {
    right: 0 !important;
    -webkit-box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.3); 
    box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.3);
    transition: right 800ms ease-out; 
}

.title_side_menu {
    font-size: 1.5rem;
    margin-bottom: 5vh;
    font-weight: bold;
    font-family: comfortaa;
}

.option_container div {
    
    position: relative;
    margin-bottom: 75%  ;
}

.option_container div::after {
    content: "";
    position: absolute;
    display: block;    
    bottom: -15px;
    width: 30vw;


    border-bottom: 2px solid var(--dark-color);

}

.option {
    composes : button from "./components.module.css"; 
}

.hamburger {
    composes : button from "./components.module.css"; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger span{
    display: block;
    
    border-radius: 15px;

    width: 40px;
    height: 5px;
    
    background-color: var(--dark-color);
}

.hamburger span:nth-child(2n) {
    margin: 7px 0;
}

@media (min-width: 1024px) {
  
    .navbar {
        width: 100%;
    
        z-index: var(--floating);
        position: fixed;
        display: flex;
        justify-content: space-between;
        
        font-family: roboto;
        font-size: 1rem;
        color : var(--dark-color);
    }
    
    

    .title {
        font-size: 1.2rem;
    }

    .option_container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .menu_container {
        position: unset;
    
        width: 40%;
        height: unset;
    
        padding-top: 0vh;
    
        border-radius: 0px; 
    
        background-color: transparent;
    
    }
    
    .pull_left {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    
    }
    
    .close {
        display: none;
    }
    
    .title_side_menu {
        display: none;
    }
    
    .option_container div {
        margin-bottom: 0;
    }
    
    .option_container div::after {
        display: none;    
    }
    
    
    .hamburger {
        display: none;
    }
}