.price_page {
    padding: 8vw 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10%;
    gap: 10%;
}

.title {
    font-family: roboto;
    font-weight: lighter;
    justify-self: center;
    font-size: 1.7vw;

    grid-area: 1 / 1 / 2 / 2;
}


.price {
    font-style: bold;
    color: var(--primary-color);
    font-size: 1.5vw;
}

.not_emphasized_card{
    width: 30vw;
    height: 30vw;
}

.emphasized_card{
    width: 40vw;
    height: 35vw;

}

.card {
    z-index: 1;
    position: relative;
    padding: 3% 4%;
    font-family: comfortaa;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;

    background-color: var(--light-color);
}

.card::after {
    z-index: 0;
    content: '';
    position: absolute;
    background: white;
    opacity: 25%;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 5%;
}

.emphasized_button{
    color: var(--light-color);
    background-color : var(--primary-color);
   
    border-radius: 5px;
}

.not_emphasized_button{
    color: var(--primary-color);
}


.button {
    z-index: 1;

    cursor: pointer;
    width: 10vw;
    height: 3.5vw;
    font-size: 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    align-self: self-end;
    justify-self: center;
    grid-area: 3 / 1 / 4 / 2;
}


.content {
    grid-area: 2 / 1 / 3 / 2; 
}


.options_container {
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8%;
}

.option {
    white-space: nowrap;
    display: flex;
    font-size: 1.1vw;

    margin-bottom: 8%;
}


.image {
    width: 1.5vw;
    height: 1.5vw;
    fill: var(--validation-color);
    margin-right: 5%;

}

.included{
    opacity: 100%;
}

.not_included{
    opacity: 50%;
}